# Dependency directories
/node_modules
/.pnp
.pnp.js

# Built files
/build
/dist

# Logs
/logs
*.log

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing files
/coverage

# Editor files
/.vscode
/.idea
/.vs

# Cache and package files
/.cache
.npm
.yarn
.pnpm-debug.log*
yarn.lock
package-lock.json
pnpm-lock.yaml
yarn-error.log

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Windows thumbnail cache files
/Thumbs.db
/ehthumbs.db
/ehthumbs_vista.db

# Windows Desktop.ini files
/Desktop.ini

# Output of 'npm run build'
/dist

# Output of 'next export'
/out

# Next.js build artifact
/.next/
